body {
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
}
.navbar div{
    width: 25%;
    margin: 2px;
}
.navbar div a{
    display: block;
    padding: 10px;
    background-color: blue;
    color: white;
    text-align: center;
    text-decoration: none;
}