@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    overflow:hidden;
}
.bgimage{
    background-image: url("../img/background.jpg");
    background-repeat: repeat;
    background-size: contain;
}
.navbar{
    display: flex;
    justify-content: space-around;
    width: 80%;
    background-color: rgba(147,173,215,1);
}
.navbar div{
    width: 19%;
    margin: 2px;
}
.navbar div a{
    display: block;
    padding: 10px;
    background-color: rgba(240,246,255,1);
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
}
.navbar div a:hover {
    background-color: rgb(236, 236, 238);
}
.header
{
    display: flex;
    height: 12vh;
    background-color: rgba(194, 208, 250, 1)
}
.width100
{
    display: flex;
    justify-content: space-around;
    width: 100vw;
}
.height60
{
    height: 90vh;
}
.descripton
{
    width: 40%;
    height: 100%;
   
    display: flex;
    justify-content:center;
    align-items: center;
    
}
.image
{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.card
{
    height: 67%;
    width: 47%;
    margin: 7rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    border: 3px solid rgba(147,173,215,0.75);
}
.card p {
    margin: 15px;
    text-align: justify;
    color: #333333;
} 

.imgPng
{
   
    z-index: 67;
    
}
.contaner
{
    position:absolute;
}
.dot
{
    background-color: red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
}

.firstdot
{
    top:67%;
    left:46%;
}
.seconddot{
    top: 50%;
    left: 70%;
}
.thirddot{
    top: 70%;
    left: 70%;
}
.fourthdot{
    top: 20%;
    left: 50%;
}

.skrynnik
{
    position: absolute;
    z-index: -67;
    width: 5000%;
    height: 2500%;
    background-color: rgb(214, 226, 241);
     padding: 15px;
    text-align: justify;
    color: #333333;
    
}

.dot:hover > .skrynnik
{
    
    z-index: 67;
}