body {
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-around;
    width: 80%;
    background-color: rgba(245, 245, 220, 0.537);
}
.navbar div{
    width: 19%;
    margin: 2px;
}
.navbar div a{
    display: block;
    padding: 10px;
    background-color: blue;
    color: white;
    text-align: center;
    text-decoration: none;
}

.header
{
    display: block;
    height: 12vh;
    background-color: rgb(203, 239, 239);
}

.width100
{
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

    
.height60
{
    height: 90vh;
}
.descripton
{
    width: 40%;
    height: 100%;
    background-color: red;
}
.image
{
    width: 60%;
    height: 100%;
    background-color: blue;
}
